{% extends 'stages/base.html' %}

{% block titre %}
  Entreprises partenaires
{% endblock %}

{% block contenu %}
  <h1>Entreprises partenaires</h1>

  <table border="2">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Ville</th>
        <th>Secteur d'activité</th>
        <th>Contact (Email)</th>
      </tr>
    </thead>
    <tbody>
      {% for entreprise in entreprises %}
        <tr>
          <td><a href="{% url 'stages:detail_entreprise' entreprise.id %}">{{ entreprise.nom }}</a></td>
          <td>{{ entreprise.ville }}</td>
          <td>{{ entreprise.secteur }}</td>
          <td><a href="mailto:{{ entreprise.contact }}">{{ entreprise.contact }}</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">Aucune entreprise enregistrée pour le moment.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
